# Environment variables / secrets
.env
.env.*

# Python virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/